doctype html
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', type='text/css', href='/css/material-design-iconic-font.min.css')
    link(rel='stylesheet', type='text/css', href='/css/perfect-scrollbar.min.css')
    link(rel='stylesheet', type='text/css', href='/simditor/simditor.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css',)
  body(style="padding:5px 15px 10px 5px")
    .frame-warp
      .panel.panel-default
        .panel-heading 添加文章
          .tools.dropdown
            a.icon.mdi.mdi-view-list(href="./articleList")
              span(style="display: inline-block;float:right;font-size:14px;margin-top:1px;margin-left:5px") 返回列表
        .panel-body.form-box
          table
            tr
              td(width="20")
              th(width="80") 文章标题
              td 
                input.input(type="text",id="name")
            tr
              td
              th 文章内容
              td 
                textarea(id="editor",placeholder="Balabala",autofocus)
            tr
              td
              th 
              td 
                button.btn.btn-space.btn-primary(id="addbtn") 确认添加
  script(type='text/javascript' src='/js/jquery.min.js')
  script(type="text/javascript" src='/simditor/jquery.min.js')
  script(type="text/javascript" src='/simditor/module.js')
  script(type="text/javascript" src='/simditor/hotkeys.js')
  script(type="text/javascript" src='/simditor/uploader.js')
  script(type="text/javascript" src='/simditor/simditor.js')
  script(type='text/javascript').
    $(document).ready(function(){
      var editor = new Simditor({
        textarea: $('#editor'),
        placeholder: '这里输入文字...',
        toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color','ol','ul','blockquote','code','table','link', 'image', 'hr','indent', 'outdent', 'alignment'],
        pasteImage: true,
        upload: location.search === '?upload' ? {
          url: '/upload'
        } : false
      });
      $('#addbtn').click(function(){
        $.ajax({
          url: './articleAdd',
          type: 'POST',
          dataType: 'json',
          data: {
            name:$('#name').val(),
            content:$('#editor').val()
          },
          success:function(res){
            console.log(res);
            window.location.href="./articleList";
          }
        });
      })
    });
