doctype html
html
  head
    meta(http-equiv='content-type', content='text/html;charset=utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='renderer', content='webkit')
    meta(name='renderer', content='webkit|ie-comp|ie-stand')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui')
    title 炖萝卜
    link(rel='stylesheet', href='/css/admin.css')
  body
    .fh5co-loader
      .ft-full
        .w1000
          .ft-content
            .ft-bodyer
              .hd
                div(style="padding-top:50px;") #{data.name}
                div.small 
                  span 作者：#{data.user}
                  span(style="margin-left:20px;") 日期：
                    span.convert-time #{data.createdate}
              .bd !{data.content}
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/tools.js')
    script(type='text/javascript').
      $(function(argument) {
        $('.convert-time').each(function(index,value){
          $(value).text((new Date($(value).text())).Format("yyyy-M-d"))
        })
      });
