doctype html
html
	head
		meta(http-equiv='content-type', content='text/html;charset=utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='renderer', content='webkit')
		meta(name='renderer', content='webkit|ie-comp|ie-stand')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui')

		title 炖萝卜
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/animate.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/index.css')
		link(rel='stylesheet', href='/iconfont/iconfont.css')
	body
		.fh5co-loader
		#page
			header.fh5co-cover.js-fullheight(role='banner',id="fh5co-header",style='background-image:url(/images/02.jpg);', data-stellar-background-ratio='0.5')
				.overlay(style="background:rgba(0, 0, 0, 0.5)")
				.container
					.row
						.col-md-8.col-md-offset-2.text-center
							.display-t.js-fullheight
								.display-tc.js-fullheight.animate-box(data-animate-effect='fadeIn')
									.profile-thumb(style='background: url(/images/user/touxin.jpg);')
									h1
										span 炖萝卜
									h3
										span 前端
									div(style='margin-top:20px;')
										ul.fh5co-social-icons
											li
												a(href='./articleList')
													i.iconfont.icon-liebiao11
											li
												a(href='https://github.com/wcx14311')
													i.iconfont.icon-git
											li
												a(href='#')
													i.iconfont.icon-qq
											li
												a(href='#')
													i.iconfont.icon-matuwang-zhihufangxingdianji
		script(src='/js/jquery.min.js')
		script(src='/js/jquery.easing.1.3.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/jquery.waypoints.min.js')
		script(src='/js/jquery.stellar.min.js')
		script(src='/js/jquery.easypiechart.min.js')
		script(src='/js/index.js')
